[submodule "mcp-servers/mcp-wikipedia"]
	path = mcp-servers/mcp-wikipedia
	url = https://github.com/chestnutforty/mcp-wikipedia.git
[submodule "mcp-servers/mcp-browser"]
	path = mcp-servers/mcp-browser
	url = https://github.com/chestnutforty/mcp-browser.git
[submodule "mcp-servers/mcp-python"]
	path = mcp-servers/mcp-python
	url = https://github.com/chestnutforty/mcp-python.git
[submodule "mcp-servers/mcp-template"]
	path = mcp-servers/mcp-template
	url = https://github.com/chestnutforty/mcp-template.git
[submodule "mcp-servers/mcp-google-trends"]
	path = mcp-servers/mcp-google-trends
	url = https://github.com/chestnutforty/mcp-google-trends.git
[submodule "mcp-servers/mcp-metaculus"]
	path = mcp-servers/mcp-metaculus
	url = https://github.com/chestnutforty/mcp-metaculus.git
[submodule "mcp-servers/mcp-financial-datasets"]
	path = mcp-servers/mcp-financial-datasets
	url = https://github.com/chestnutforty/mcp-financial-datasets.git
[submodule "mcp-servers/mcp-datacommons"]
	path = mcp-servers/mcp-datacommons
	url = https://github.com/chestnutforty/mcp-datacommons.git
[submodule "mcp-servers/mcp-eu"]
	path = mcp-servers/mcp-eu
	url = https://github.com/chestnutforty/mcp-eu.git
